@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp
@page "/"

<PageTitle>Index</PageTitle>

<div class="col-md-12 row">
    <div class="col-md-3">
        <label>Zoom</label>
        <input type="range" class="form-range" min="10" max="200" step="1" value="@Zoom" @onchange="ZoomChanged" />
        <InputFile class="col-md-12 form-control" OnChange="@(OnFileChanged)"></InputFile>
    </div>
    @if (_image != null)
    {
        <PipelineStepSelection class="col-md-9"></PipelineStepSelection>
    }
</div>
<hr />

@if (_image != null)
{
    for (var i = 0; i < _images.Count; i++)
    {
        <Image Zoom="@Zoom" Guid="_images[i]"></Image>
    }
}
