@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp
@page "/"

<PageTitle>Index</PageTitle>

<InputFile OnChange="@(OnFileChanged)"></InputFile>

@if (_image != null)
{
    <Image OnImageRendered="@(args=>_currentImageData=args)" ImageData="@_image"></Image>
    @if (_nextAction != null)
    {
        <Image OnImageRendered="@(args=>_currentImageData=args)" Conversion="_nextAction"></Image>
    }
    <button @onclick="AddPipelineStep" class="btn btn-primary">Add Canny</button>
}
