@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp
@page "/"

<PageTitle>Index</PageTitle>

<div class="col-md-12 row">
    <InputFile OnChange="@(OnFileChanged)"></InputFile>
    <PipelineStepSelection FilterAddRequested="AddPipelineStep"></PipelineStepSelection>
</div>
<hr />

@if (_image != null)
{
    <Image OnImageRendered="@(AddMatImageData)" ImageData="@_image"></Image>
    for (var i = 0; i < _images.Where(im => im.PipelineAction != null).Count(); i++)
    {
        <Image OnImageRendered="@(AddMatImageData)" CurrentData="_images[i]"></Image>
    }
}
