@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp
@page "/"

<PageTitle>Index</PageTitle>

<InputFile OnChange="@(OnFileChanged)"></InputFile>

@if (_image != null)
{
    <Image OnImageRendered="@(AddMatImageData)" ImageData="@_image"></Image>
    for (var i = 0; i < _images.Where(im => im.PipelineAction != null).Count(); i++)
    {
        <Image OnImageRendered="@(AddMatImageData)" CurrentData="_images[i]"></Image>
    }
    <button @onclick="AddPipelineStep" class="btn btn-primary">Add Canny</button>
}
